body { background: #314485; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 32px; display: flex; }
.block-order-0 { color: #b7a7b1; font-size: 14px; margin-bottom: 5px; }
.block-database-1 { color: #2514d6; font-size: 12px; margin-bottom: 5px; }
.block-cache-2 { color: #d44398; font-size: 12px; margin-bottom: 5px; }
.block-config-3 { color: #5cf413; font-size: 14px; margin-bottom: 5px; }
.block-database-4 { color: #70e9d8; font-size: 19px; margin-bottom: 5px; }
.block-notify-5 { color: #dcf57a; font-size: 21px; margin-bottom: 5px; }
.block-uploader-6 { color: #1d35dc; font-size: 12px; margin-bottom: 5px; }
.block-notify-7 { color: #9116cd; font-size: 18px; margin-bottom: 5px; }
.block-auth-8 { color: #ca0904; font-size: 21px; margin-bottom: 5px; }
.block-shipping-9 { color: #ed8bbd; font-size: 17px; margin-bottom: 5px; }
.block-sms-10 { color: #ea5fba; font-size: 20px; margin-bottom: 5px; }
.block-shipping-11 { color: #95637d; font-size: 19px; margin-bottom: 5px; }